[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "2.2.5"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
flask-restx = "*"
pytest = "*"
python-json-logger = "*"
prometheus-flask-exporter = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.10"
